.schedule {
  width: 400px;
  padding-left: 20px;
  position: relative;
}
.schedule_header {
  background-color: #5127a4;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.schedule_timezone {
  font-size: 14px;
  margin: 0
}

.schedule_title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.schedule_day_labels {
  display: flex;
  width: 400px;
  justify-content: space-between;
  text-align: center;
}

.schedule_timeslot {
  cursor: pointer;
}

.schedule_confirmed, .schedule_confirmation {
  position: absolute;
  top: 75px;
  width: 418px;
  height: 130px;
  box-shadow: 0 2px 4px #0000001a, 0 3px 10px #0000001a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f5;
}

.schedule_confirmation {
flex-direction: column;
}

.schedule_confirm {
  background-color: #5127a4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 7px 12px;
  margin-bottom: 4px;
}

.schedule_deny {
  background-color: #D6CCF8;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 7px 12px;
} 
.schedule_confirmed_close {
position: absolute;
top: 12px;
right: 20px;
border: none;
background-color: transparent;
font-weight: 700;
}

.schedule_navigation {
  display: flex;
  justify-content:space-between;
  background-color: #5127a4;
  border: none;
}

.schedule_navigation button {
  background-color: #fff;
  border: none;
  border-radius: 40px;
  height: 20px;
  width: 20px;
  margin: -10px 5px 5px;
  cursor: pointer;
}

.schedule_weekday {
 font-size: 12px;
 color:#5127a4;
}
.schedule_day {
  font-size: 14px;
  color:#5127a4;
  font-weight: 500;
}

.schedule_unavailable, .schedule_timeslot {
  padding: 4px 0;
  background-color:  #edf2f5;
  width: 60px;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .schedule {
    width: 255px;
    margin: 0 auto;
    padding: 0;
  }

  .schedule_day_labels {
    width: 255px; 
  }

  .schedule_confirmed, .schedule_confirmation {
    width: 250px;
  }
}