.App {
  background-color: #edf2f5;
}

.static_page_header {
  background-color: #5127a4;
}
.navbar {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.navbar_logo {
  width: 7.5rem;
}

.navbar_activate {
  border: 1px solid #fff;
  padding: 0 16px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #5127a4;
  font-weight: 700;
  margin-right: 15px;
}

.navbar_activate:hover {
  background: #9069dd;
  border-color: #9069dd;
  color: #fff;
}
.navbar_login {
  background-color: #fff;
  padding: 0 16px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  color: #6732d1;
  font-weight: 700;
  border: none;
}

.navbar_login:hover {
  background: #9069dd;
  border-color: #9069dd;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
